:root {
    --hl-green: #0B3D2E; /* Verde oscuro del logo */
}
.active-link {
    color: var(--hl-green);
    font-weight: 600;
}
.counter {
    font-size: 2rem;
    font-weight: bold;
    color: var(--hl-green);
}


/* para subir la caja de contadores */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }